/* This file is for your main application css. */
.wtextarea {
    white-space: pre-wrap;
}

.jumbotron {
   background: url("/images/acidalia_planitia_co_l.png");
   background-repeat: no-repeat;
   background-size: cover;
}